{% extends "tool/base.html" %}

{% block title %}日历生成器{% endblock title %}

{% block css_js %}
	<script type="text/javascript">
		var firsttime = true;
	    $(document).ready(function() {
	    	$("#date_from").datepicker({ dateFormat: "yy-mm-dd" });
	    	$("#date_to").datepicker({ dateFormat: "yy-mm-dd" });

	    	$("#form1").submit(function() {
	    		if ($("#tasks").val() == '') {
	    			alert("请输入任务列表");
	    			$("#tasks").focus();
	    			return false;
	    		}
	    		if ($("#date_from").val() == '') {
	    			alert("请选择起始日期");
	    			$("#date_from").focus();
	    			return false;
	    		}
	    		if ($('input[name=ttype]:checked').length == 0) {
	    			alert("请选择结束日期或任务周期");
	    			return false;
	    		}
	    		if ($('#ttype1').attr('checked')) {
	    			if ($("#date_to").val() == '') {
		    			alert("请设置结束日期");
		    			$("#date_to").focus();
		    			return false;
		    		}
	    		}
	    		if ($('#ttype2').attr('checked')) {
	    			if ($("#days").val() == '') {
		    			alert("请设置任务周期");
		    			$('#days').focus().select();
		    			return false;
		    		}
	    		}
	    	})

	    	$("#tasks").focus( function() {
	    		if (firsttime) {
	    			$("#tasks").val('').css('color','black');
	    			firsttime = false;
	    		}	    		
	    	});

	    	$("#ttype1").click( function() {
	    		$('#tr_date_to').show();
	    		$("#date_to").focus();
	    		$('#tr_period').hide();
	    	});

	    	$("#ttype2").click( function() {
	    		$('#tr_date_to').hide();
	    		$('#tr_period').show();
	    		$('#days').focus().select();
	    	});
	    });
	</script>

	<style type="text/css">
	* {font-size:12px;}
	</style>
{% endblock css_js %}

{% block middle %}
<table>
	<tr>
		<td>
			<form id="form1" action="" method="POST">
			<table>
				<tr>
					<td valign="top">任务列表</td>
					<td><textarea name="tasks" id="tasks" cols="30" rows="10" style="color:gray;">需求分析
概要设计
详细设计
编码
内部测试
外部测试
部署
上线</textarea></td>
				</tr>
				<tr>
					<td>起始日期</td>
					<td><input type="text" name="date_from" id="date_from"/></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="radio" name="ttype" id="ttype1" value="1"> 结束日期
						<input type="radio" name="ttype" id="ttype2" value="2"> 任务周期
					</td>
				</tr>
				<tr id="tr_date_to" style="display:none;">
					<td>结束日期</td>
					<td><input type="text" name="date_to" id="date_to"/></td>
				</tr>
				<tr id="tr_period" style="display:none;">
					<td>任务周期</td>
					<td><input type="text" name="days" id="days" value="30"/>天</td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="确定"/></td>
				</tr>
			</table>
			</form>
		</td>
		<td>
			<div>
				使用说明:<br/>
				<div>
					输入"任务列表","起始时间","结束时间"或"任务周期", 自动生成如图所示的EXCEL表格.<br/>
					<img src="/static/images/schedule.png" alt="schedule.png"/>
				</div>
			</div>
		</td>
	</tr>
</table>
{% endblock middle %}