@import url("CSS_reset.css");
.box {
	margin-bottom:10px;
}
.box h2 {
	background:url(box_style/boxtopbg.gif) repeat-x top #ccc;
	height:38px;
	position:relative;
	text-indent:30px;
	line-height:38px;
	font-size:16px;
	font-family:"黑体";
	color:#666;
	padding:0;
	margin:0;
}
.box h2 p {
	height:38px;
	width:10px;
	position:absolute;
	top:0
}
.box h2 a.more {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#666;
	position:absolute;
	right:20px;
	top:18px;
	line-height:0;
	text-indent:0;
}
.box h2 .more:hover {
	color:#f60;
}
.box h2 .h2left {
	background:url(box_style/boxtopleft.gif) no-repeat;
	left:0;
}
.box h2 .h2right {
	background:url(box_style/boxtopright.gif) no-repeat;
	right:0;
}
.box .boxcont {
	background:url(box_style/boxcontbg.gif) repeat-x top;
	border:1px solid #d1d1d1;
	border-top:none;
	position:relative;
	padding:10px 30px;
	height:auto;
}
.box .boxcont p {
	width:10px;
	height:10px;
	position:absolute;
	bottom:-1px;
}
.box .boxcont .boxleft {
	background:url(box_style/boxcontleft.gif) no-repeat;
	left:-1px;
}
.box .boxcont .boxright {
	background:url(box_style/boxcontright.gif) no-repeat;
	right:-1px;
}